.dropdown {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #2f6b50ca;

  // New
  position: absolute;
  top: -110%;
  left: 0;
  right: 0;
  height: 100%;

  transition: top 0.5s ease-in-out;

  &--link {
    padding: 2rem 2rem;
    font-size: 5rem;
    color: white;
  }

  &.visible {
    top: 0;
  }
}
