.dropdown {
  position: absolute;
  top: -110%;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #9068ff62;
  display: flex;
  flex-direction: column;
  transition: top 0.5s ease-in-out;
  padding-top: 5vh;
  z-index: 900;

  a {
    text-decoration: none;
    color: white;
    padding: 2rem 2rem;
  }

  &--link {
    font-size: 3rem;
    color: white;
  }

  &.visible {
    top: 0;
  }
}
