.provider .desktop {
  display: none;
}
.provider {
  // border: yellow 4px solid;
  * {
    // border: 1px solid red;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  // flex-grow: 1;
  width: 100%;
  background: url("../../../../public/backgrounds/816-bg-400pxs.png") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .provider-left-container {
    // border: 1px solid black;
    a.social-media-link img {
      padding-right: 15px;
      width: 10%;
      // border: 1px solid #659f85;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: fit-content;
    }
  }
}

.provider h1 {
  color: #659f85;
  margin-top: 5vh;
  align-self: self-start;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}

.provider-image {
  margin-top: 1.25rem; /* 20px / 16px base font size */
  width: 90vw;
  max-width: 450px;
}

.provider p {
  margin-top: 1rem;
  align-self: start;
  margin-left: 1.875rem; /* Assuming the base font size is 16px */
  margin-right: 1.875rem; /* Assuming the base font size is 16px */
}

.provider-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.provider .call-to-action {
  background-color: #659f85;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem; /* 20px / 16px base font size */
  padding: 0.625rem 1.25rem; /* 10px / 16px and 20px / 16px base font size */
  margin: 1.25rem 0 4.375rem; /* 20px / 16px, 0, and 70px / 16px base font size */
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 0.3125rem; // 5pxs Assuming the base font size is 16px
  color: white;
  cursor: pointer;
}

.provider a {
  text-decoration: none;
  color: white;
}

.socials {
  // border: 1px solid red;/
  display: flex;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .provider {
    background-image: none;
    background-color: white;
    flex-direction: row;
    padding: 0 3rem 3rem 2rem;
    .desktop {
      display: block;
    }
    .mobile {
      display: none;
    }

    .provider-left-container {
      padding-right: 2rem;
      .provider-image {
        width: 40vw;
        max-width: 450px;
      }
    }

    .provider-right-container {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    p {
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 900px) {
  .provider {
    .provider-left-container {
      margin-left: 2rem;
    }
    .provider-right-container {
      margin-left: 4rem;
    }
  }
}

@media screen and (min-width: 1100px) {
  .provider {
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.5rem;
    }
    button.call-to-action {
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .provider {
    h1 {
      font-weight: 300;
      font-size: 5.5rem;
    }
    button.call-to-action {
      margin-top: 4rem;
    }
  }
}
@media screen and (min-width: 1500px) {
  .provider {
    padding: 8rem 12vw;
  }
}
