.provider .desktop {
  display: none;
}
.provider {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background: url("../../../../public/backgrounds/816-bg-400pxs.png") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.provider h1 {
  color: #659f85;
  margin-top: 5vh;
  align-self: self-start;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}

.provider img {
  margin-top: 1.25rem; /* Assuming the base font size is 16px */
}

.provider p {
  margin-top: 1rem;
  align-self: start;
  margin-left: 1.875rem; /* Assuming the base font size is 16px */
  margin-right: 1.875rem; /* Assuming the base font size is 16px */
}

.provider-left-container {
}

.provider-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.provider .call-to-action {
  background-color: #659f85;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem; /* 20px / 16px base font size */
  padding: 0.625rem 1.25rem; /* 10px / 16px and 20px / 16px base font size */
  margin: 1.25rem 0 4.375rem; /* 20px / 16px, 0, and 70px / 16px base font size */
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 0.3125rem; // 5pxs Assuming the base font size is 16px
  color: white;
  cursor: pointer;
}

.provider a {
  text-decoration: none;
  color: white;
}
