.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 7vh;
  z-index: 50;

  &.dropdown-visible .main__content {
    height: 0;
    opacity: 0;
    overflow: hidden; // Added to ensure the content is hidden
  }

  .main__content {
    flex-grow: 1;
    overflow: auto;
    transition: opacity 0.5s ease, height 0.5s ease;
    height: 100%;
  }
}
