.footer {
  background-color: #659f85;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.25rem;
  transition: transform 0.5s ease;

  & img {
    width: 30vw;
    max-width: 1rem; /* 80px / 16px base font size */
  }

  &.dropdown-visible {
    transform: translateY(0%);
  }
}
